.post-container{
    display: flex;
    flex-direction: column;
    color:var(--textColor);
    font-family: var(--descFont);
}
.post-container img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.post-imgContainer{
    height:300px;
    width:100%;
}
.postText{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}
.author{
    color: grey;
    margin-bottom: 20px;
}
.post-content{
    min-height: 50vh;
    line-height: 25px;
    font-size: 18px;
    text-align: justify;
}
.cat{
    margin-top: 50px;
    text-transform: capitalize;
}